
<% if @favor.estado == 'p' and can? :update, @favor %>

<div class="alert alert-warning" role="alert" style="margin: 20px;">
  <h2> Datos de contacto del postulante: <h2>
  <% nombre = @postulado.first_name+' '+@postulado.last_name %>
  <h3>Nombre: <%= link_to nombre, @postulado %> </h3>
  <h3>Correo: <%= @postulado.email %></h3>
</div>

<% end %>

<div class="panel panel-default" style="margin-top: 20px;">
  <div class="panel-heading">
      <div class="row">

        <% if current_user and can? :update, @favor and can? :destroy, @favor and @favor.estado == 'a'%>
          <div class="col-md-8"> <h3><%= @favor.titulo %></h3></div>
          <div class="col-md-2">
            <a href="/favors/postulantes/<%= @favor.id %>" class="btn btn-primary" style="margin-top:10px;">Lista Postulantes</a>
          </div>

          <div class="col-md-1">
            <%= link_to "Editar", edit_favor_path(@favor), class: 'btn btn-danger btn-md',
            style:"margin-top:10px;"%>
            
          </div>

          <div class='col-md-1'>
           <%= link_to "Eliminar",@favor, method: :delete, class: 'btn btn-danger btn-md',
            style:"margin-top:10px;"%>
          </div>



        <% elsif current_user %>
          <div class="col-md-7"> <h3><%= @favor.titulo %></h3></div>
            <% if (!(@favor.postulado(current_user.id)) and (@favor.user_id != current_user.id)) %>
              <%= form_tag("/offers/new") do %>
                <%= hidden_field_tag(:id, @favor.id) %>
                <div class="col-md-3">
                <%= label_tag(:mensaje, "Mensaje de Postulacion:") %>
                <%= text_field_tag(:mensaje,"",style: "margin:4px; width:100%; height:50px;",:required => true) %>
                </div>
                <div class="col-md-2">
                  <%= submit_tag("Postularse", class: 'btn btn-info btn-md', style:"margin-top:35px;") %>
                </div>
              <% end %>
            <% else %>
              <div class="col-md-5">
                <h3 style="color:green;"> 
                <% if (@favor.user_id != current_user.id) %>¡Estas postulado a esta gauchada! <% end %> </h3>
              </div>
            <% end %>
        <% else %>
          <div class="col-md-12"> <h3><%= @favor.titulo %></h3></div>
        <% end %>
        </div>
      </div>
  </div>
  <div class="panel-body">
    <div class="row">
	<div class="col-xs-5 col-sm-5 col-md-5">
	      <% if @favor.foto == '' %>
        <%= image_tag "sin.gif", :alt => "Sin Foto",  style:"max-width: 320px; margin-right:auto; margin-left:auto;" , class:"img-responsive" %>
        <% else %>
             <%= image_tag @favor.foto , :alt => "Foto",  
                style:"max-width: 320px; margin-right:auto; margin-left:auto;" , class:"img-responsive img-rounded" %>
        <% end %>
	</div>
	<div class="col-xs-7 col-sm-7 col-md-7">
		<div class="panel panel-default">
		<div class="panel-body">
			<b>Descripciòn</b><br>
    		<h4><%= @favor.descripcion %></h4>
  		</div>
  		</div>

  		<div class="panel panel-default">
		<div class="panel-body">
			<b>Ubicacion</b><br>
    		<h4><%= @favor.ubicacion %></h4>
  		</div>
  		</div>

  		<div class="panel panel-default">
		<div class="panel-body">
			<b>Propietario</b><br>
    		<h4><%= link_to (@favor.user.first_name + @favor.user.last_name) , @favor.user %></h4>
  		</div>
  		</div> 
	</div>
</div>
  </div>
</div>