
<style type="text/css">
  .mensaje{
    margin: 25px;
    width: 650px;
    height: auto;
    font-size: 18px;
    padding: 6px;
    border-radius: 12px;
  }
</style>

<h1> Editar Logro</h1>


<%= form_for Ranking.find(params[:id]) , url: {action:"update"} do |r| %>
  <table class="table">
    <tr>
      <td><%= r.label :titulo %></td>
      <td>
      <%= r.text_field :titulo, class: 'form-control', label: 'titulo', placeholder: 'Ingrese el titulo' , :required => true,  size: 50%>
      </td>
    </tr>

    <tr>
      <td><%= r.label :cantidad_eslabones %></td>
      <td>
       <input value="" type="tel" label="cantidad_eslabones" required="required" 
        name="ranking[cantidad_eslabones]" id="ranking_cantidad_eslabones"  pattern="-?[0-9]{0,4}">
      
        </td>
    </tr>

    <tr>
      <td colspan="2" align="center" >
        <%= r.submit "Modificar Logro", class: 'btn btn-primary' %>
      </td>
    </tr>
  </table>
<% end %>