
<style type="text/css">
  p{ 
  font-size: 17px;
  margin-left: 15px;
  } 

  .marcoUser{
    padding: 50px; 
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #D8D8D8; 
  margin-right:30px; 
  margin-left:30px;
  margin-top: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  }

</style>


<div class="row marcoUser">     
  <div class="row">
    <div class="col-md-12">
      <h3>¡Compre eslabones!</h3>
    </div>
  </div>

  <div class="row" style="background-color:#F2F2F2">

  <div class="row">
    <div class="col-md-6"> 
     <p> <font face="arial" size="3" color="blue" >Cada eslabon tiene un costo de $12</font></p>
    </div>
  </div>    
    <%= form_tag("/pay/new") do %>
      <div class="row">
        <p> </p>
      </div>
      <div class="row">
        <div class="col-md-2"> 
          <%= label_tag(:banco, "Medio de pago:", style: "margin-right:auto; margin-left: 10px;") %>
        </div>
        <div class="col-md-2">
          <td>
            <select name=Tarjeta class="form-control input-sm">
              <option value="Tarjeta VISA">Visa</option>
              <option value="Tarjeta MASTERCARD">Mastercard</option>
            </select>
          </td>
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-2"> 
          <%= label_tag(:banco, "Banco:", style: "margin-right:auto; margin-left: 10px;") %>
        </div>
        <div class="col-md-4"> 
          <td>
            <select name=Banco class="form-control input-sm" >
              <option value="Santander Rio">Santander Rio</option>
              <option value="Banco Provincia">Banco Provincia</option>
              <option value="Banco Nacion">Banco Nacion</option>
              <option value="Banco frances">Banco Frances</option>
              <option value="Tarjeta Naranja">Tarjeta Naranja</option>      
              <option value="HSBC">HSBC</option>
            </select>
          </td>
        </div>
      </div>

       <div class="row">
        <div class="col-xs-2">
          <%= label_tag(:nombre, "Nombre del titular:", style: "margin-right:auto; margin-left: 10px;") %>
        </div>
        <div class="col-xs-2">
          <input value="" type="text"  required="true" class="form-control input-sm" id="nombre"  pattern="[a-zA-Z]+">
        </div>
      </div>

       <div class="row">
        <div class="col-xs-2">
          <%= label_tag(:apellido, "Apellido del titular:", style: "margin-right:auto; margin-left: 10px;") %>
        </div>
        <div class="col-xs-2">
          <input value="" type="text" size="16" required="true" class="form-control input-sm" id="apellido" pattern="[a-zA-Z]+">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2">
          <%= label_tag(:fecha, "Vencimiento", style: "margin-right:auto; margin-left: 10px;") %>
        </div>
        <div class="col-xs-2">
          <input type="date" name="fecha" min="2016-11-01" required="true">
        </div>
      </div>





      <div class="row">
        <div class="col-xs-2">
          <%= label_tag(:numero, "Numero de tarjeta:", style: "margin-right:auto; margin-left: 10px;") %>
        </div>
        <div class="col-xs-2">
          <input value="" type="tel" maxlength="16" minlength="16" size="16" required="true" class="form-control input-sm" id="numero"  pattern="[0-9]{16,16}">
        </div>
      </div>


      <div class="row">
      <div class="col-xs-10">
       <p class="Text-left"> <font face="arial" size="2" color="grey" >El numero de la tarjeta debe ser de 16 numeros</font></p>
       </div>
       </div>
      

      <div class="row">
        <div class="col-xs-2">
          <%= label_tag(:clave, "Clave de tarjeta:", style: "margin-right:auto; margin-left: 10px;") %>
        </div>
        <div class="col-xs-1">
          <input value="" type="tel" maxlength="3" minlength="3" size="3" required="true" class="form-control input-sm" id="clave" pattern="[0-9]{3,3}" >
        </div>
      </div>
       <div class="row">
      <div class="col-xs-10">
       <p class="Text-left"> <font face="arial" size="2" color="grey" >La clave debe ser de 3 numeros</font></p>
       </div>
       </div>


      <div class="row">
        <div class="col-md-2">
          <%= label_tag(:mensaje, "Cantidad:" , style: "margin-right:auto; margin-left: 10px;") %>
        </div>
        <div class="col-md-2">    
          <input value="" type="number"  min="1"  required="true" class="form-control input-sm" name="cantidad_eslabones" id="cantidad_eslabones">             
        </div>
      </div>
      <div class="col-md-2">
        <%= submit_tag("Comprar", class: 'btn btn-info btn-md', style:"margin-top:35px;") %>
      </div>
      
</div>
      
    <%end%>
</div>
      
</div>