<!--Usuario.select(date(updated_at) as ordered_date, avg(edad) as edad_avg").group("date(updated_at)").having("avg(edad) > ?", 18)-->
<br><br>

<% if @cantOffers > 0 %>
<table class="table" style="text-align: center;" >
	<tr>
		<th style="text-align: center;"> Foto </th>
		<th style="text-align: center;"> Titulo </th>
		<th style="text-align: center;"> Cantidad de Postulaciones </th>
		<td style="text-align: center;"> Acciones</td>
	</tr>
	<% Offer.select('favor_id, COUNT(favor_id) as cantidad').where("visto = 'false'").group('favor_id').each do |offer| 
		favor = Favor.find(offer.favor_id)
		if (favor.user.id == current_user.id) %>
			<tr>
				<td>
				<% if favor.foto == '' %>
        		<%= image_tag "sin.gif", :alt => "Sin Foto",  style:"max-width: 120px; margin-right:auto; margin-left:auto;" , class:"img-responsive img-rounded" %>
        		<% else %>
             	<%= image_tag favor.foto , :alt => "Foto",  
                style:"max-width: 120px; margin-right:auto; margin-left:auto;" , class:"img-responsive img-rounded" %>
        		<% end %>
				</td>
				<td>
					<%= link_to favor.titulo, favor , style: "color:#000"%>
				</td>
				<td>
					<%= offer.cantidad %>
				</td>
				<td>
					<a href="/favors/postulantes/<%= offer.favor_id %>" class="btn btn-warning">
						Ver Postulantes
					</a>
				</td>
			</tr>
		<% end %>
	<% end %>
</table>
<% end %>

<% if @cantPostulaciones > 0 %>
<table class="table" style="text-align: center;" >
	<tr>
		<th style="text-align: center;"> Foto </th>
		<th style="text-align: center;"> Titulo </th>
		<th style="text-align: center;"> Notificacion </th>
		<td style="text-align: center;"> Acciones </td>
	</tr>
	<% current_user.offers.where("otorgado = true and vistopostulante = 'false'").each do |offer| 
		favor = Favor.find(offer.favor_id) %>
			<tr>
				<td>
				<% if favor.foto == '' %>
        		<%= image_tag "sin.gif", :alt => "Sin Foto",  style:"max-width: 120px; margin-right:auto; margin-left:auto;" , class:"img-responsive img-rounded" %>
        		<% else %>
             	<%= image_tag favor.foto , :alt => "Foto",  
                style:"max-width: 120px; margin-right:auto; margin-left:auto;" , class:"img-responsive img-rounded" %>
        		<% end %>
				</td>
				<td>
					<%= link_to favor.titulo, favor , style: "color:#000" %>
				</td>
				<td>
					Has sido seleccionado para cumplir este favor
				</td>
				<td>
					<a href="/offers/marcarVistoPostulacion/<%= offer.favor_id %>" class="btn btn-warning">
						Marcar como leida
					</a>
				</td>
			</tr>
	<% end %>
</table>
<% end %>

<% if @cantMensajes > 0 %>
<table class="table" style="text-align: center;" >
	<tr>
		<th style="text-align: center;"> Foto </th>
		<th style="text-align: center;"> Gauchada </th>
		<th style="text-align: center;"> Mensajes sin responder </th>
	</tr>
	<% @favors.each do |favor|  
		cantM  = favor.comments.where("visto_mensaje = 'false'").count
		if (cantM > 0 ) %>
			<tr>
				<td>
				<% if favor.foto == '' %>
        		<%= image_tag "sin.gif", :alt => "Sin Foto",  style:"max-width: 120px; margin-right:auto; margin-left:auto;" , class:"img-responsive img-rounded" %>
        		<% else %>
             	<%= image_tag favor.foto , :alt => "Foto",  
                style:"max-width: 120px; margin-right:auto; margin-left:auto;" , class:"img-responsive img-rounded" %>
        		<% end %>
				</td>
				<td>
					<%= link_to favor.titulo, favor , style: "color:#000"%>
				</td>
				<td>
					<%= cantM %>
				</td>
			</tr>
		<% end %>
	<% end %>
</table>
<% end %>

<% if @respuestas.count > 0 %>
<table class="table" style="text-align: center;" >
	<tr>
		<th style="text-align: center;"> Foto </th>
		<th style="text-align: center;"> Gauchada </th>
		<th style="text-align: center;"> Respuesta </th>
	</tr>
	<% @respuestas.each do |rta|  
		favor = rta.favor %>
			<tr>
				<td>
				<% if favor.foto == '' %>
        		<%= image_tag "sin.gif", :alt => "Sin Foto",  style:"max-width: 120px; margin-right:auto; margin-left:auto;" , class:"img-responsive img-rounded" %>
        		<% else %>
             	<%= image_tag favor.foto , :alt => "Foto",  
                style:"max-width: 120px; margin-right:auto; margin-left:auto;" , class:"img-responsive img-rounded" %>
        		<% end %>
				</td>
				<td>
					<%= link_to favor.titulo, favor , style: "color:#000"%>
				</td>
				<td>
					<a href="/notificaciones/marcarVitoRespuesta/<%= rta.id %>" class="btn btn-warning">
						Ver respuesta
					</a>
				</td>
			</tr>
	<% end %>
</table>
<% end %>

<% if @cantOffers == 0 and @cantPostulaciones == 0 and @cantMensajes == 0 and @respuestas.count == 0 %>
	<div class="alert alert-warning" role="alert" style="margin: 20px; text-align: center;">
  		<h2> No tienes notificaciones :( <h2>
	</div>
<% end %>


