<header>

<style type="text/css">
	.nav > li > a:focus, .nav > li > a:hover {
    	background-color: #F27321;
    	color: #FFF;
    	border-radius: 0px;
    	margin-right: 3px;
    	margin-left: 3px;
	}

	.nav > li > a{
		margin-right: 3px;
    		margin-left: 3px;
	}

	.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    		color: #fff;
            background-color: #F27321;
            border-radius: 0px;
            margin-right: 3px;
    		margin-left: 3px;
	}
</style>


		<%= link_to "/" do %>
			<%= image_tag "eslogan.png" , class:"img-responsive" %>
			
		<% end %>

<div class="row" style="background-color: #000; padding-top: 6px; padding-bottom: 6px; margin-right: 0px;">
	<div class="col-sm-12 col-md-12">
		<ul class="nav nav-pills nav-justified" >

  			<li role="presentation" 
  				<%- if controller_name == 'home' %> class="active" <% end %> >
  				<a href="/">Home</a>
  			</li>

  			<% if current_user %> 

  				<li role="presentation"><a href="#">Buscar Gauchada</a></li>

  				<li role="presentation"
  					<%- if controller_name == 'favors' %> class="active" <% end %> >
  					<%= link_to "Publicar Gauchada", new_favor_path() , action: "new" %>
  				</li>	

  				<li role="presentation"><%= link_to "Perfil" , current_user %></li>

  				<li role="presentation">
				<%= link_to 'Cerrar Sesion', destroy_user_session_path, method: :delete %> 
				</li>
			<% else %>
				
				<li role="presentation" 
					<%- if controller_name == 'sessions' %> class="active" <% end %> >
    				<%= link_to 'Iniciar Sesión', new_user_session_path %>
    			</li>

				<li role="presentation" 
					<%- if controller_name == 'registrations' %> class="active" <% end %> >
    			<%= link_to 'Registrarse', new_user_registration_path %>
    			</li>
    			<li role="presentation" 
					<%- if controller_name == 'registrations' %> class="active" <% end %> >
    			<%= link_to 'Configuraciones', "new_user_registration_path" %>
    			</li>

			<% end %>
		</ul>
	</div>
</div>

</header>