<style type="text/css">html{position: relative; min-height: 100%;}</style>

<!DOCTYPE html>
<html>
<head>
  <title>Gauchada</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="margin-bottom: 65px;">

<%= render 'layouts/header' %>

<% if notice %>
<div class="alert alert-success alert-dismissible" role="alert" 
  style="margin-top: 15px; margin-bottom: 15px;">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= notice %>
</div>
<% end %>

<% if alert %>
<div class="alert alert-warning alert-dismissible" role="alert"
  style="margin-top: 15px; margin-bottom: 15px;">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= alert %>
</div>
<% end %>
 

<div class="container">
	<%= yield %>
</div>

<!--<% flash.each do |key, value| %>
<div class="alert alert-<%= key %> alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <%= value %>
</div>
<% end %>

<%= link_to 'Login', new_user_session_path %>
-->



<%= render 'layouts/footer' %>


</body>
</html>
